<div class="accordion" id="watchedInfoAccordion">
  <div class="card">
    <div class="card-header" id="watchedInfoHeading">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#watchedInfoCollapse" aria-expanded="false" aria-controls="watchedInfoCollapse">
          Your opinion about this movie
        </button>
      </h2>
    </div>
    <div id="watchedInfoCollapse" class="collapse" aria-labelledby="watchedInfoHeading" data-parent="#watchedInfoAccordion">
      <div class="card-body">
        <form action="/movies/{{.Movie.ID}}/watched_status" method="post">
          <input type="hidden" name="user_id" value="42">
          <input type="radio" id="not-watched" name="opinion" value="not-watched">
          <label for="not-watched">Not Watched</label><br>
          <input type="radio" id="liked" name="opinion" value="liked">
          <label for="liked">Liked</label><br>
          <input type="radio" id="neutral" name="opinion" value="neutral">
          <label for="neutral">Neutral</label><br>
          <input type="radio" id="disliked" name="opinion" value="disliked">
          <label for="disliked">Disliked</label><br>
          <input type="submit" value="Submit">
        </form>
      </div>
    </div>
  </div>
</div>