{
  "DSN": "host=hostname user=dbUsername password=dbPassword dbname=dbName port=5432 sslmode=disable TimeZone=GMT",
  "TMDB_CONFIG": {
    "API_KEY": "YOUR_API_KEY",
    "BASE_URL": "https://api.themoviedb.org/3"
  }
}