<!DOCTYPE html>
<html>
<head>
    <title>{{.Movie.Title}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
{{template "_navbar.html" .}}
<div class="container mt-5">
    <h1 class="mb-4">{{.Movie.Title}}</h1>
    <div class="card">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img class="img-fluid" src="{{.Movie.PosterUrl}}">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <p class="card-text">Release Date: {{.Movie.ReleaseDate}}</p>
                    <p class="card-text">Rating: {{.Movie.Rating}}</p>
                    {{if .Movie.Overview}}
                    <p class="card-text mt-3">{{.Movie.Overview}}</p>
                    {{end}}
                    {{if .Movie.TrailerUrl}}
                    <a class="btn btn-primary mt-3" href="{{.Movie.TrailerUrl}}">Watch Trailer</a>
                    {{end}}
                </div>
            </div>
        </div>
    </div>
    {{template "_watched_info_form.html" .}}
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>